* {
margin: 0;

}

.container {
  display: flex;
  width: 400px;
}

.item {
  min-width:100px;
  height: 100px;
  

}
.green {
  background-color: lightgreen ;
  flex-grow: 1;
  
}

.yellow {
  background-color: yellow;
  flex-grow: 2;
}

.purple {
  background-color: purple;
  flex-grow: 1;
}