*{
    margin: 0px;
    padding: 0px;
    height: auto;
  }
.wrapper {
  width: 80%;
  margin: 0 auto; 
  background-image: linear-gradient(to right, rgb(138,138,138), rgb(200, 200, 200), rgb(138,138,138));
}

#title {
  position: relative;
}

#title h1{
  position: absolute;
  width: 100%;
  text-align: center;
  top: 15px;
  font-family: 'Playfair Display', serif;
  color: rgb(100,100,100);
}

.flex-container{
  border: 3px solid yellow;
  display: flex;
  height: 500px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.picture-container{
  border: 3px solid red;
  display: flex;
  max-height: 60%;
  max-width: 50%;
}

.picture {
  overflow: hidden;
  z-index: 1;
}

.transbox {
  border: 3px solid orange;
  z-index: 2;
  height: fit-content;
  background-color: rgb(82, 74, 74);
  opacity: 0.3;
}

.transbox p {
  color: white;

}

.right {
  transform: rotateY(180deg);
}

.button {
  border: 3px solid green;
  display:flex;
  background-color: white;
  align-self: stretch;
  width: 5%;
}

.thumbnails {
border: 3px solid blue;
display: flex;

}