* {
margin: 0;
padding: 0;
}

.container {
  display: flex;
  background-color: yellow;
  height: 400px;
  border: 3px solid red;
  justify-content: space-between;
  align-items: center;
}

.item {
  background-color: purple;
  height: 70px;
  width: 70px;
  margin: 10px 0px;
  list-style-type: none;
}