body{

  background-color: rgb(206, 214, 221);
  font-family: arial;
  display: block;
  margin: 60px;
}

form{
  background-color: white;
  width:35%;
  max-width: 230px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  padding: 50px 100px; 
}

p{
  margin-bottom: 20%;
}

label{
  font-size: 9px;
}

.input:focus{
  border:2px solid green;
  outline: none;
}

.input {
  display: block;
  margin-bottom: 20px;
  padding: 10px 10px 10px 50px;
  border: 0;
  border-radius: 4px; 
  font-size: 16px;
  color:black;
  border:1px solid black
}

#login{
  background-color: black;  
  color: white;
  border-radius: 20px;
  font-size: 12px;
  padding: 5px;
  width: 40%;
}

#forgot{  
  background-color:white;
  border: none;
  font-size: 12px;  
  margin-left: 50%;
  margin-bottom: 20%;
}




