body {
  margin: 0;
}
.navbar {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(240, 179, 25, 0.733);
}
.navbar h1 {
  padding: 0px 30px;
}
.navbar .links {
  padding: 0px 30px;
  color: black;
  font-size: 17px;
}
.navbar a {
  color: white;
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  background-color: black;
  border-radius: 8px; 
}
.navbar a:hover {
  color: black;
}

.content{
  text-align: center;
}

button {
  background-color: rgb(240, 179, 25);
  padding: 20px;
  border-radius: 17px;
  font-size: 17px;
  font-weight: bold;
}

#video {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
}